* {
    font-family: 'Roboto', sans-serif;
}

/*
Styles of the typing field and elements
*/

.font-size-zero-wrapper {
    font-size: 0px;
}

.letter {
    font-size: 22px;
}

.right {
    background-color: green;
}

.mistake {
    background-color: red;
}

.cursor {
    border: 1px black solid;
}

/*
Styles of the application
*/

.main-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    /*border: black solid 1px;*/
    max-width: 800px;
    margin: 0 auto;
}



.header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: 0;
    
}

.header__link {
    /*font-size: 23px;
    line-height: 60px;*/
    font-weight: normal;
    color: #F7F7F7;
    text-decoration: none;
}

.header__logo-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.header__logo-title {
    margin: 0 10px;
}

.header__item:last-child {
    margin-right: 10px;
}

.header__nav {
    background-color: lightblue;
}

.main__text-title {
    font-size: 32px;
    font-weight: bold;
    color: dimgray;
    text-align: center;
    padding: 85px 0;
}

.main__wrapper-typing {
    display: flex;
    flex-direction: row;
}

.main__stats {
    width: 20%;
    padding: 2px;
    font-size: 24px;
}

.main__stats>div {
    border-bottom: 1px solid powderblue;
}

.main__stats>div:last-child {
    /*background-color: lightcoral;*/
    border: none;
}

.main__timer, .main__speedfield, .main__mistakes {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 5px;
}

.main__timer-value, .main__speedfield-value, .main__mistakes-value {
    font-size: 32px;
    font-weight: bold;
    color: gray;
}

.typing-field {
    padding: 1%;
    width: 98%;
    background-color:ghostwhite;
    height: 320px;
    overflow: auto;
    /*height: auto;*/
}